<!DOCTYPE html>
<html lang="en">
<head>
    <title>Final Project</title>
    <link rel="stylesheet" href="/assets/beach.css">
</head>
<body>
<img src="/assets/beach2.jpg" style="width:1004px;height:228px;">

<div id="first-div">
<ul>
<li><a href="/beach">HOME</a></li>

<li><a href="/map">MAP OF BEACH HUTS</a></li>

<li><a href="/contact">CONTACT US</a></li>

<li><a href="/bookings">CHECK AVAILABILITY</a></li>

<li><a href="/gallery">PICTURE GALLERY</a></li>

</ul>
</div>

<div id="third-div">
<h3> About Us </h3>
<hr>

<p class="p1">
     Beach Huts is a unique opportunity to explore and discover,
     with your friends or family, the hidden treasures of the Beach. 
     We Provide Beach Huts for Picnics, Parties, Birthdays, 
    Anniversaries, Picnics and Family gatherings and all type of beach activities.
</p>

<p class="p1">
   We provide huts for rent on perfect spots on Karachi's coastline 
   with clean and safe environment where no outsiders are 
   allowed giving a total privacy protection 
   and excellent services to our clients.
</p>

<p class="p1">
  We organize complete corporate events at beach.
   We’ll make sure you get the most fun out of the hut!
</p>


<p class="p1">
  Our Huts are only for families and corporate events.Individual couples 
  or any type of illegal or indecent parties are not allowed. 
</p>
</div>

<div style="float:right; padding-top:35%">
<input  type="button" class="btn" value="LOG OUT"  onclick="window.location.href='/logout'">
</div>



</body>
</html>