<!DOCTYPE html>
<html lang="en">
<head>
    <title>Final Project</title>
    <link rel="stylesheet" href="/assets/beach.css">
</head>
<body>
<img src="/assets/beach3.jpg" style="width:1004px;height:228px;">

<div id="first-div">
<ul>
<li><a href="/beach">HOME</a></li>

<li><a href="/map">MAP OF BEACH HUTS</a></li>

<li><a href="/contact">CONTACT US</a></li>

<li><a href="/bookings">CHECK AVAILABILITY</a></li>

<li><a href="/gallery">PICTURE GALLERY</a></li>

</ul>
</div>



<div id="fourth-div">
<h3> Contact Us </h3>
<hr>

<p class="p1">Feel free to contact us,feel free to share your thoughts and your 
    suggestions.We are always eager to hear what you think,so feel 
    free to contact us by using cotact form on the screen.</p>

<p class="p1">Thank You.</p>

<br/>

<div id="fifth-div">
<form action="/contact" method="post">
    <br><br>
   <label for="email">Email:</label>
   <input type="text" name="username" class="input">
   <label for="password">Code:</label>
   <input type="text" name="password" class="input">
   <br><br><br>
   <label>Your Comment:</label>
   <br> <br><br>
   <textarea rows="7" cols="66" name="message"></textarea>
   <br><br>
    <input type="submit" value="SEND" class="btn" style="float:right">
   </form>
</div>

