<html>
    <head>  
        <title> 
          Final Project
        </title>
        <link rel="stylesheet" href="/assets/beach.css">
    </head>
    <body id="firstpage">
<h1 id="first"> Welcome to Beach Huts   </h1>
<div id="page1">
<input type="button" class="btn1" value="SIGN UP" onclick="window.location.href='/signup'">
<input type="button" class="btn1" value="LOG IN" onclick="window.location.href='/login'">
</div>
    </body>
</html>