<!DOCTYPE html>
<html lang="en">
<head>
    <title>Final Project</title>
    <link rel="stylesheet" href="/assets/beach.css">
</head>
<body >
<form action="/login" method="post" id="signup">
   <h1>LOG IN: </h1>
    <label for="email">Email:</label>
    <br/><br/>
    <input type="text" name="username" class="input">
    <br/><br/><br/>
    <label for="password">Password:</label>
    <br/><br/>
    <input type="text" class="input" name="password">
    <br/><br/><br/>
    <input type="submit" value="SUBMIT" class="btn" >
  
</form>

</body>
</html>