<html>
    <head>  
        <title> 
          Final Project
        </title>
        <link rel="stylesheet" href="/assets/beach.css">
    </head>
    <body id="firstpage">
<h1 id="first"> Hey ! </h1>
<h3 id="secret"> We want to assure you that any information you provide us with will be kept
     private at all times, and will be used for no purpose other than research. </h3>
<div id="page1">
<input type="button" class="btn1" value="LOG IN" onclick="window.location.href='/login'">
<input type="button" class="btn1" value="LOG OUT" onclick="window.location.href='/logout'">
</div>
    </body>
</html>