<html>
    <head>  
        <title> 
          Final Project
        </title>
        <link rel="stylesheet" href="/assets/beach.css">
    </head>
    <body id="firstpage">
<h1 id="first"> Thanks, for your feedback !  </h1>
<h2 style="text-align:center">We will contact you soon.</h2>
<div id="page1">
<input type="button" class="btn1" value="LOG OUT" onclick="window.location.href='/logout'">
</div>
    </body>
</html>